<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Juegos</title>
    <link rel="stylesheet" href="../ccs/style.css">
    <link rel="shortcut icon" href="../favicon.png" type="image/png">
    <script src="https://kit.fontawesome.com/5e3bb08ae5.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header3">

        <div class="menu container">
            <a href="../index.html"><img src="../assets/imagenes/logo.png" alt="logo" class="logo"></a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="../assets/imagenes/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="/index.html">Inicio</a></li>
                    <li><a href="/view/galeria.html">Galeria</a></li>
                    <li><a href="#"><strong>Contacto</strong></a></li>
                </ul>
            </nav>
        </div>
            <!--formulario-->
            <div class="form-container">
                <h2>Contacto</h2>
                <form id="contactForm">
                    <h3>Rellena el formulario</h3>
                    <input type="text" id="name" placeholder="Nombre" maxlength="40" required>
                    <input type="text" id="lastName" placeholder="Apellidos" maxlength="60" required>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                    <input type="tel" id="phone" name="phone" placeholder="Teléfono" maxlength="9" required>
                    <h4>Deja aquí tu mensaje</h4>
                    <textarea id="message"></textarea>
                    <div class="form-buttons">
                        <input type="submit" id="submit" name="contact" value="Enviar">
                        <input type="reset" id="reset" value="Borrar">
                    </div>
                </form>
            </div>
    </header>
    <section class="mapa container">
                <!--ubicacion de la tienda-->
                <div class="mapa">
                    <h3> Ubicación</h3>
                    <p>C. de Alonso Cano, 44, 46, 28003 Madrid</p>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.539811614321!2d-3.6995666346033156!3d40.44118782936227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4228f122ddbc3d%3A0xe9ece85047e19fe3!2sSumma%20112%20Centro%20de%20Salud%20%22Espronceda%22!5e0!3m2!1ses!2ses!4v1676376186858!5m2!1ses!2ses"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
    </section>
 <!--pie de PAGINA-->
 <footer class="footer">
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-link">
                <a href="../index.html"><img src="../assets/imagenes/logo.png" alt="logo" class="logo"></a>
            </div>
            <div class="footer-link">
                <h4>Explore</h4>
                <ul>
                    <li><a href="/index.html " class="footer-link">Inicio</a></li>
                    <li><a href="../view/galeria.html" class="footer-link">Galeria</a></li>
                    <li><a href="#" class="footer-link"><strong>Contacto</strong></a></li>
                </ul>
            </div>
            <div class="footer-link">
                <h4>Info</h4>
                <ul>
                    <li> <a href="mailto:correo@htiendadejuegos.es">info@tiendadejuegos.es</a></li>
                    <li><a href="tel:656858969">tel: 656858969</a></li>
                    <li><a href="https://maps.app.goo.gl/zTV8PgnVq8H5Gse1A">C. de Alonso Cano, 44, 46, 28003 Madrid</a></li>
                </ul>
            </div>
            <div class="footer-link">
                <h4>Siguenos</h4>
                <div class="social-link">
                    <a href="https://www.facebook.com/"> <i class="fab fa-facebook-f"></i> </a>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-bottom">
    <p>copyright &copy;2024 Tienda de Juegos. designed by <span> Victor Montoya</span></p>
</div>


<!--SCRIPT-->
<script src="../script/javascript2.js"></script>
</body>

</html>