<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Juegos</title>
    <link rel="stylesheet" href="../ccs/style.css">
    <link rel="shortcut icon" href="../favicon.png" type="image/png">
    <script src="https://kit.fontawesome.com/5e3bb08ae5.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header2">
        <div class="menu container">
            <a href="../index.html"><img src="../assets/imagenes/logo.png" alt="logo" class="logo"></a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="../assets/imagenes/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="#"><strong>Galeria</strong></a></li>
                    <li><a href="../view/contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
        <!--galeria de juegos-->
        <section class="popular container">
            <h2>Todos los Juegos</h2>
                <div class="product-content">
                    <div class="product-2">
                        <img src="../assets/imagenes/g1.jpg" alt="call of duty">
                        <div class="product-txt">
                            <h3>CALL OF DUTY</h3>
                            <div class="price">
                                <p>80€</p>
                                <a href="#" class="btn-2">comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-2">
                        <img src="../assets/imagenes/g2.jpg" alt="BATTLEFIELD">
                        <div class="product-txt">
                            <h3>BATTLEFIELD 2042</h3>
                            <div class="price">
                                <p>80€</p>
                                <a href="#" class="btn-2">comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-2">
                        <img src="../assets/imagenes/g7.jpg" alt="the surge">
                        <div class="product-txt">
                            <h3>THE SURGE</h3>
                            <div class="price">
                                <p>80€</p>
                                <a href="#" class="btn-2">comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-2">
                        <img src="../assets/imagenes/g4.jpg" alt="fornite">
                        <div class="product-txt">
                            <h3>FORNITE</h3>
                            <div class="price">
                                <p>80€</p>
                                <a href="#" class="btn-2">comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-2">
                        <img src="../assets/imagenes/g4.jpg" alt="fornite">
                        <div class="product-txt">
                            <h3>FORNITE</h3>
                            <div class="price">
                                <p>80€</p>
                                <a href="#" class="btn-2">comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-2">
                        <img src="../assets/imagenes/g3.jpg" alt="halo">
                        <div class="product-txt">
                            <h3>HALO</h3>
                            <div class="price">
                                <p>80€</p>
                                <a href="#" class="btn-2">comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-2">
                        <img src="../assets/imagenes/g5.jpg" alt="crash">
                        <div class="product-txt">
                            <h3>CRASH CTR</h3>
                            <div class="price">
                                <p>80€</p>
                                <a href="#" class="btn-2">comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-2">
                        <img src="../assets/imagenes/g6.jpg" alt="GRAND THEFT AUTO">
                        <div class="product-txt">
                            <h3>GRAND THEFT AUTO V</h3>
                            <div class="price">
                                <p>80€</p>
                                <a href="#" class="btn-2">comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-2">
                        <img src="../assets/imagenes/g7.jpg" alt="the surge">
                        <div class="product-txt">
                            <h3>THE SURGE</h3>
                            <div class="price">
                                <p>80€</p>
                                <a href="#" class="btn-2">comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-2">
                        <img src="../assets/imagenes/g2.jpg" alt="BATTLEFIELD">
                        <div class="product-txt">
                            <h3>BATTLEFIELD 2024</h3>
                            <div class="price">
                                <p>80€</p>
                                <a href="#" class="btn-2">comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-2">
                        <img src="../assets/imagenes/g6.jpg" alt="GRAND THEFT AUTO">
                        <div class="product-txt">
                            <h3>GRAND THEFT AUTO V</h3>
                            <div class="price">
                                <p>80€</p>
                                <a href="#" class="btn-2">comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-2">
                        <img src="../assets/imagenes/g7.jpg" alt="the surge">
                        <div class="product-txt">
                            <h3>THE SURGE</h3>
                            <div class="price">
                                <p>80€</p>
                                <a href="#" class="btn-2">comprar</a>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

         <!--pie de PAGINA-->
 <footer class="footer">
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-link">
                <a href="../index.html"><img src="../assets/imagenes/logo.png" alt="logo" class="logo"></a>
            </div>
            <div class="footer-link">
                <h4>Explore</h4>
                <ul>
                    <li><a href="../index.html " class="footer-link">Inicio</a></li>
                    <li><a href="#" class="footer-link"><strong>Galeria</strong></a></li>
                    <li><a href="../view/contacto.html" class="footer-link">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-link">
                <h4>Info</h4>
                <ul>
                    <li> <a href="mailto:correo@htiendadejuegos.es">info@tiendadejuegos.es</a></li>
                    <li><a href="tel:656858969">tel: 656858969</a></li>
                    <li><a href="https://maps.app.goo.gl/zTV8PgnVq8H5Gse1A">C. de Alonso Cano, 44, 46, 28003 Madrid</a></li>
                </ul>
            </div>
            <div class="footer-link">
                <h4>Siguenos</h4>
                <div class="social-link">
                    <a href="https://www.facebook.com/"> <i class="fab fa-facebook-f"></i> </a>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-bottom">
    <p>copyright &copy;2024 Tienda de Juegos. designed by <span> Victor Montoya</span></p>
</div>

</body>

</html>